@page
@model IndexModel
@{
	ViewData["Title"] = "Bruno Page";
}
<link rel="stylesheet" href="~/css/bruno.css" asp-append-version="true" />
<script src="~/js/bruno.js" defer asp-append-version="true"></script>
<div class="text-center">
	<section class="intro">
		Há não muito tempo, num lugar não muito<br /> distante....
	</section>

	<section class="logo">
		<img src="~/img/bruno.svg" />
	</section>

	<!-- Change the text to your liking -->
	<div id="board">
		<div id="content">
			<p id="title">Episódio I</p>
			<p id="subtitle">USANDO O GIT</p>
			<br>
			<!-- And make it cheesy ! -->
			<p>O entusiasmo se alastra pela Engenharia de Software enquanto o processo de substituição do Teams pelo Git começa a andar a todo vapor....</p>
		</div>
	</div>
</div>